@charset "UTF-8";

.identificate {
    width: 100%;
    height: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.photo {
    width: 100px;
    height: 100px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.operations {
    width: 100%;
    padding: 15px;
}