@import url('../../index.css');

.cabecalho-restaurante {
    width: 100%;
    height: 200px;
    background-image: url('../../assets/images/foto-capa.jpg');
    background-position: 50% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}

.cabecalho-restaurante .sobreposicao {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .5s ease-out;
}

.cabecalho-restaurante .sobreposicao:hover {
    opacity: 1;
}

.cabecalho-restaurante .foto-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--laranja);
    position: absolute;
    top: 50%;
    transition: all .5s ease-out;
}

.cabecalho-restaurante .foto-perfil:hover {
    border: 3px solid var(--amarelo);
}

.cabecalho-restaurante .foto-perfil img {
    width: 100%;
    border-radius: 50%;
}

.corpo {
    width: 100%;
    background-color: var(--cinza-claro);   
}

.corpo .content {
    width: 100%;
    padding: 15px;
    padding-top: 30%;
}

.corpo .content h1, h2 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.corpo .content p {
    text-align: center;
}