@charset "UTF-8";

.box-slide {
    position: relative; 
}

.swiper {
    width: 50%;
    position: relative;
}

.slide {
    overflow: hidden;
    position: relative;
}

.slide img {
    width: 350px;
    height: 500px;
    border-radius: 12px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

.slide-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    z-index: 20;
    color: #fff;
    font-size: 1.5em;
    background-color: var(--amarelo);
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease-out;
}

.slide-btn:hover {
    color: #000;
    background-color: var(--laranja);
    transform: scale(1.1);
}

.prevRef {
    left: 10px;
}

.nextRef {
    right: 10px;
}

@media screen and (max-width: 800px) {
    .slide-btn {
        display: none;
    }   
}

@media screen and (max-width: 1600px) {
    .swiper {
        width: 80%;
    }
}
