@charset "UTF-8";

h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.cover-photo {
    width: 100%;
    height: 150px;
    position: relative;
    background-image: url('../../../assets/images/foto-capa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.sobrepor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .2);
    transition: all .5s ease-out;
}

.sobrepor:hover {
    opacity: 1;
}

.identification {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.profile-photo {
    width: 30%;
}

.profile-photo img {
    width: 100%;
    border-radius: 50%;
}

.details {
    width: 68%;
}

.description {
    text-align: justify;
}

.location-avaliation {
    display: flex;
    justify-content: space-between;
}

.localizacao, .classificacao {
    font-size: .8em;
}

.menus {
    width: 100%;
    padding: 15px;
}

.menus h2 {
    text-align: center;
}

.testemonials {
    width: 100%;
    padding: 15px;
}

.testemonials h2 {
    text-align: center;
}

.location {
    width: 100%;
    padding: 15px;
}

.social-media {
    width: 100%;
    padding: 15px;
}

.redes {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    font-size: 2em;
    transition: all .5s ease-out;
}

.fa-brands:hover {
    transform: scale(1.1);
}

.fa-whatsapp:hover {
    color: #25D366;
}

.fa-instagram:hover {
    color: #E1306C;
}

.fa-tiktok:hover {
    color: #25F4EE;
}