@charset "UTF-8";

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.cover_photo {
    height: 150px;
    position: relative;
    background-image: url('../../../assets/images/foto-capa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.sobrepor {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .2);
}

.sobrepor:hover {
    opacity: 1;
}

.identification_restaurant {
    justify-content: space-between;
}

.profile_photo_restaurant {
    width: 30%;
}

.profile_photo_restaurant img {
    border-radius: 50%;
}

.details {
    width: 68%;
}

.description {
    text-align: justify;
}

.location_avaliation {
    justify-content: space-between;
}

.localizacao, .classificacao {
    font-size: .8em;
}

.contact .msg {
    width: 100%;
}

.redes {
    justify-content: space-evenly;
}

.fa-brands {
    font-size: 2em;
}

.fa-brands:hover {
    transform: scale(1.1);
}

.fa-whatsapp:hover {
    color: #25D366;
}

.fa-instagram:hover {
    color: #E1306C;
}

.fa-tiktok:hover {
    color: #25F4EE;
}