@charset "UTF-8";

.categorias {
    width: 100%;
    margin: 5px 0px;
}

#categoria {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--cinza-medio);
    text-transform: uppercase;
}

#categoria:hover {
    border: 1px solid var(--laranja);
}

.foto-perfil span {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--laranja);
    color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    transition: all .5s ease-out;
}

.foto-perfil span:hover {
    transform: scale(1.1);
    color: var(--preto);
    background-color: var(--amarelo);
    cursor: pointer;
}

.apresentacao {
    display: flex;
    flex-direction: column;
}