@import url('../../index.css');

.cabecalho {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('../../assets/images/foto-header.jpg');
}

.sobrepor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.sup-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    border-radius: 20px;
    padding: 0 10px 5px 10px;
    border: 2px solid var(--laranja);
    backdrop-filter: blur(1px);
    transition: all .5s ease-in;
}

.logo:hover {
    border: 2px solid var(--amarelo);
    backdrop-filter: blur(2px);
}

.btn-menu {
    font-size: 2.3em;
}

.cabecalho h1 {
    font-size: 1.5em;
    margin-top: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.icone {
    color: var(--laranja);
    transition: all .5s ease-out;
}

.icone:hover {
    color: var(--amarelo);
}

.nav-bar-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .5);
    animation: fadeIn .2s ease-in;
}

.nav-bar-mobile__conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-menu {
    position: absolute;
    top: 1em;
    right: 1em;
}

.scale {
    font-size: 0.9em;
    margin: 15px;
    letter-spacing: 2px;
    transition: all .5s ease-out;
}

.scale:hover {
    transform: scale(1.1);
}

.search-bar-mobile {
    width: 80%;
    margin-top: 10px;
    padding: 10px;
}

.search-bar-mobile span {
    width: 15%;
    cursor: pointer;
}

.nav-bar {
    position: fixed;
}

.nav-bar__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.search-bar {
    width: 50%;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.search-bar input {
    width: 95%;
}

.open {
    display: block;
}

@keyframes fadeIn {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
    }
}

@media screen and (min-width: 1024px) {
    .nav-bar {
        display: block;
    }

    .search-bar {
        display: block;
    }

    .show-menu {
        display: none;
    }
}