
.container {
    width: 50%;
    height: 100svh;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.list-group {
    list-style-type: none;
    padding: 0;
}
.list-group-item {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.list-group-item:hover {
    background-color: #f0f0f0;
}