@charset "UTF-8";
@import "tailwindcss";

:root {
  --laranja: #FF6B00;
  --amarelo: #FFC107;
  --azul: #1E3A8A;
  --cinza-claro: #F5F5F5;
  --cinza-medio: #9E9E9E;
  --preto: #000000;
}

/* GERAL */

* {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

/* BOTÕES */

.btn {
  width: 185px;
  height: 50px;
  color: #fff;
  border-radius: 20px;
  font-size: 1.2em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--laranja);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  transition: all .5s ease-out;
}

.btn:hover {
  transform: scale(1.1);
  color: #000;
  background-color: var(--amarelo);
}

.btn-sec {
  background-color: var(--azul);
}

/* FORMS */

.conteiner {
  width: 355px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 5px var(--cinza-medio);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.conteiner h1 {
  font-size: 2em;
}

.form {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p > span {
  color: var(--laranja);
}