@charset "UTF-8";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --laranja: #FF6B00;
  --amarelo: #FFC107;
  --azul: #1E3A8A;
  --cinza-claro: #F5F5F5;
  --cinza-medio: #9E9E9E;
  --preto: #000000;

  --font-titulos: 'Pacifico', cursive;
  --font-subtitulos: 'Poppins', sans-serif;
  --font-texto: 'Nunito', sans-serif;
  --font-special: 'Caveat', cursive;
}

/* GERAL */

* {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 100%;
  box-sizing: border-box;
  outline: none;
  font: 700 1em var(--font-texto);
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

/* BOTÕES */

.btn {
  width: 185px;
  height: 50px;
  color: #fff;
  border-radius: 20px;
  font: 700 1.2em var(--font-special);
  text-transform: uppercase;
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--laranja);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  transition: all .5s ease-out;
}

.btn:hover {
  transform: scale(1.1);
  color: #000;
  background-color: var(--amarelo);
}

.btn-sec {
  background-color: var(--azul);
}

/* FORMS */

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner {
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  padding: 15px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 5px var(--cinza-medio);
}

.conteiner h1 {
  text-align: center;
  font-size: 2em;
}

.conteiner p {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p > span {
  color: var(--laranja);
  text-decoration: underline;
}